@model SagaXmlAdapter.Web.Models.InvoiceDetail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>InvoiceDetail</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />    
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CodeProvider" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CodeProvider" class="form-control" />
                <span asp-validation-for="CodeProvider" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CodeClient" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CodeClient" class="form-control" />
                <span asp-validation-for="CodeClient" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BarCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BarCode" class="form-control" />
                <span asp-validation-for="BarCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdditionalInfo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MeasurementUnit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VatPercentage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VatPercentage" class="form-control" />
                <span asp-validation-for="VatPercentage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VAT" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VAT" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observations" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
        </div>
 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">-Back to Index - Invoice Details</a><br />
    <a asp-controller="InvoiceHeaders" asp-action="Create">-Back to Create Invoice Header</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
